/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;700&display=swap');

:root {
    --text-accent: rgb(98, 65, 190);
    --text-title:  rgb(87, 87, 87);
    --content-bg: rgb(240, 240, 240);
    --accent-color: rgb(241, 106, 43);
    --shadow-color: rgb(211, 211, 211);
    --alert-color: rgb(255, 66, 66);
}

body {
    margin: 0;
    font-family: 'Archivo', sans-serif;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--content-bg);
    border: none;
    height: 64px;
}

.navbar .navbar-title {
    justify-self: start;
    align-self: center;
    font-size: 2rem;
    margin: 0px 24px;
    text-decoration: none;
    color: var(--text-accent);
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-links a {
    padding: 0px 10px;
    margin: 8px;
    font-size: 1rem;
    text-decoration: none;
    color: var(--text-title);
}

.navbar-links a:hover {
    text-decoration: underline;
}

.alert {
    background-color: var(--alert-color);
    color: white;
    font-size: 1.5rem;
    height: 48px;
    padding-left: 32px;
    display: flex;
    align-items: center;
}

.event-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    padding: 24px;
}

.event-col {
    width: 100%;
    background-color: rgb(240, 240, 240);
    border-radius: 6px;
    box-shadow: 2px 2px 6px var(--shadow-color);
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 12px;
}

.event-card {
    padding: 24px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 2px 2px 6px var(--shadow-color);
}

.event-card p {
    margin: 0;
}

.col-header {
    margin: 0;
    padding: 12px;
    border-radius: 6px 6px 0px 0px;
    color: rgb(129, 129, 129);
}

.col-header h2, h1 {
    margin: 0;
}

.event-title {
    margin: 0;
}

.card-btn {
    background-color: var(--accent-color);
    color: white;
    width: 80px;
    height: 36px;
    border: none;
    border-radius: 12px;
    margin-top: 12px;
}

.card-btn a {
    text-decoration: none;
    color: white;
}