/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root {
    --bg-color: rgb(98, 65, 190);
    --accent-color: rgb(241, 106, 43);
    --shadow-color: rgb(211, 211, 211);
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--bg-color);
    color: white;
    box-shadow: 0px 4px 6px var(--shadow-color);
}

.navbar h1 {
    justify-self: center;
    align-self: center;
    font-size: 2rem;
    margin: 0;
}

.navbar-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-btn {
    padding: 0px 10px;
    margin: 8px;
    width: 80px;
    height: 48px;
    border: none;
    background-color: white;
    border-radius: 5px;
    font-size: 1rem;
}

.alert {
    color: red;
}

.notice {
    color: red;
}

.event-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    padding: 24px;
}

.event-col {
    width: 100%;
    background-color: rgb(240, 240, 240);
    border-radius: 6px;
    box-shadow: 2px 2px 6px var(--shadow-color);
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.event-card {
    margin: 10px;
    padding: 6px;
    border-radius: 6px;
    background-color: white;
}

.col-header {
    background-color: var(--accent-color);
    text-align: center;
    margin: 0;
    padding: 6px;
    border-radius: 6px 6px 0px 0px;
    color: white;
}

.event-title {
    margin: 0;
}